

html {
    font-size: 14px;
}

a {
    text-decoration: none !important; 
}

ol,  ul {
    padding-left: 0px !important;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.err {
    color: red;
    text-align: center;
    margin-top: 1rem;
}


.p-inputtext:enabled:focus {
    box-shadow: none;
}