/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html {
    font-size: 14px;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none !important; /* Remove underline from buttons */
}

ol,  ul {
    padding-left: 0px !important;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.p-menubar {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}