
<div class="container-fluid p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col-2 p-0 m-0 border-end border-bottom">
            <span class="inline-flex align-items-center gap-1 px-2 py-2">
                <i class="pi pi-car" style="font-size: 2rem"></i>
                <span class="font-medium text-xl font-semibold">GM<span class="text-primary">S</span></span>
            </span>
        </div>
        <div class="col-8 p-0 border-bottom border-end">
            <input type="text" class="w-100 h-100 border-0" pInputText placeholder="Search">
        </div>
        <div class="col-2 m-0 border-bottom text-center d-flex justify-content-center align-items-center">
            Welcome, <span class="font-bold"> Ayaz</span>
            <p-menu #menu [model]="options" [popup]="true" [appendTo]="'body'"></p-menu>
            <p-button (click)="menu.toggle($event)" icon="pi pi-angle-down" [rounded]="true" [text]="true"></p-button>
        </div>
    </div>
</div>
