<p-menubar [model]="items" autoDisplay="'true'">
    <ng-template pTemplate="start">
        <span class="inline-flex align-items-center gap-1 px-2 py-2">
            <i class="pi pi-car" style="font-size: 2rem"></i>
            <span class="font-medium text-xl font-semibold">GM<span class="text-primary">S</span></span>
        </span>
    </ng-template>
    <div>
        <input type="text" pInputText placeholder="Search">
        <button type="button" (click)="logout()" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
    </div>
</p-menubar>